{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading mt-0" id="top">
   
        <div class="container">
         <a href="/" class="btn btn-success">Accueil</a>
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Page de connexion</h2>
                        <span>Restez connecter pour être informé...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    
<div class="container">

        <div class="row m-0 justify-content-center ">
                <div class="col-lg-5 p-3">
                    <form action="{{ path('app_login') }}" method="post">
                    <div class="col p-3 alert-secondary rounded">
                        <label for="username">Email</label>
                        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus><br>
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Remember me</label>
                            </div>
                        #}
                        <button class="btn btn-lg btn-primary mt-3" type="submit">
                            Connexion
                        </button>
                    </form>
                </div>
            </div>
        </div>
</div>      
{% endblock %}
