{% extends 'base.html.twig' %}

{% block title %}Habitat terretre{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row bg-light justify-content-center py-4">
        {% if aerien %}
                <img src="{{ asset('uploadsAnimals/imagesAnimals/' ~ aerien.imagesanimal) }}" height="500px" alt="Image de {{ aerien.prenom }}">
                <div class="col-lg-12">
                    <div class="down-content">
                        <h4> {{ aerien.prenom }}</h4>
                        <span>{{ aerien.race }}</span>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
{% endblock %}
