{% extends 'base.html.twig' %}

{% block title %}Habitat terrestre{% endblock %}

{% block body %}


<div class="container justify-content-center">
       {% if terrestre %}
    <div class="row py-4">
        <div class="col justify-content-around p-2">
            <button class="btn btn-success"><a href="/habitats/terrestre"> Retour </a></button>
            <button class="btn btn-success"><a href="/habitats/">Habitats </a></button>
        </div>
        <div class="col-12 bg-light text-center py-4">
            <h4> {{ terrestre.prenom }}</h4>
            <img src="{{ asset('uploadsAnimals/imagesAnimals/' ~ terrestre.imagesanimal) }}" width="100%" height="500px" alt="Image de {{ terrestre.prenom }}">
                <div class="down-content">
                    <span>{{ terrestre.race }}</span>
                </div>            
        </div>
        </div>
            {% endif %}
</div>
{% endblock %}
