{% extends 'base.html.twig' %}

{% block title %}Habitat aérien{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row bg-light justify-content-center py-4">
        {% if celeste %}
                <img src="{{ asset('uploadsAnimals/imagesAnimals/' ~ celeste.imagesAnimal) }}" height="500px" alt="Image de {{ celeste.nom }}">
                <div class="col-lg-12">
                    <div class="down-content">
                        <h4> {{ celeste.nom }}</h4>
                        <span>{{ celeste.race }}</span>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
{% endblock %}
